.gux-calendar-beta {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  margin-top: 2px;
  background: var(--gse-core-white);
  border: 1px solid var(--gse-core-cornflower-300);
  box-shadow: 0px 2px 4px rgba(34, 37, 41, 0.24);
  border-radius: 4px;

  .gux-header {
    display: flex;
    align-items: center;
    padding: 16 24;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    color: var(--gse-core-white);
    text-align: center;
    background-color: var(--gse-semantic-primary-main);

    .gux-header-month-and-year {
      width: 150px;
    }

    .gux-left,
    .gux-right {
      color: var(--gse-core-white);
      cursor: pointer;
      background: none;
      border: none;
      outline: none;
    }
  }

  .gux-week-days {
    padding-top: 24px;
    padding-right: 32px;
    padding-left: 32px;
    text-align: center;
    color: var(--gse-core-cornflower-900);

    .gux-week-day {
      display: inline-block;
      width: 28px;
      height: 16px;
      font-weight: 800;
    }
  }

  .gux-content {
    padding-top: 8px;
    padding-right: 32px;
    padding-left: 32px;
    color: var(--gse-core-cornflower-800);
    background-color: var(--gse-core-white);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .gux-content-week {
    .gux-content-date {
      display: inline-block;
      width: 28px;
      height: 28px;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
      vertical-align: middle;
      border: none;
      outline: none;
      color: var(--gse-core-cornflower-600);

      &.gux-current-month {
        color: var(--gse-core-cornflower-800);
      }

      &.gux-hidden {
        display: none;
      }

      &.gux-disabled {
        pointer-events: none;
      }

      &.gux-selected {
        color: var(--gse-core-white);
        background-color: var(--gse-semantic-primary-main);
        border: none;
        border-radius: 4px;
        outline: none;
      }

      &:hover {
        color: var(--gse-core-white);
        cursor: pointer;
        background-color: var(--gse-semantic-primary-main);
        border-radius: 4px;
      }

      &.gux-previewed {
        margin: -1px;
        border: 1px solid var(--gse-semantic-primary-main);
        border-radius: 18px;
      }
    }
  }
}
