@import (reference) '../../../style/color.less';
@import (reference) '../../../style/typography.less';
@import (reference) '../../../style/color-palette.less';

.gux-calendar-beta {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  margin-top: @gux-spacing-3xs;
  background: #fff;
  border: 1px solid @gux-grey-30;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 2px 4px rgb(34 37 41 / 24%);

  .header {
    display: flex;
    align-items: center;
    padding: @gux-spacing-medium @gux-spacing-large;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
    text-align: center;
    background-color: @gse-core-blueberry-600;

    .header-month-and-year {
      padding-right: @gux-spacing-3xl;
      padding-left: @gux-spacing-3xl;
    }

    .gux-left,
    .gux-right {
      color: #fff;
      cursor: pointer;
      background: none;
      border: none;
      outline: none;
    }
  }

  .week-day-letters {
    padding-top: @gux-spacing-large;
    padding-right: @gux-spacing-xl;
    padding-left: @gux-spacing-xl;

    .day-letter {
      display: inline-block;
      width: 16px;
      height: 16px;
      padding-right: @gux-spacing-small;
      font-weight: 800;
    }
  }

  .content {
    padding-top: @gux-spacing-xs;
    padding-right: @gux-spacing-xl;
    padding-left: @gux-spacing-xl;
    color: @gux-black-50;
    background-color: @gux-grey-100;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .content-week {
    .content-date {
      display: inline-block;
      width: 28px;
      height: 28px;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
      vertical-align: middle;

      &.gux-disabled {
        color: fade(@gux-black-50, 50%);
      }

      &.gux-selected {
        color: @gux-grey-100;
        // background-color: @gux-blueberry-60;
        background-color: @gse-core-blueberry-600;
        border-radius: 4px;
      }

      &:hover {
        color: @gux-grey-100;
        cursor: pointer;
        // background-color: @gux-blueberry-60;
        background-color: @gse-core-blueberry-600;
        border-radius: 4px;
      }
    }
  }
}
