@import '~genesys-spark-tokens/dist/scss/global.scss';
@import '~genesys-spark-tokens/dist/scss/ui.scss';
@import '../../../style/zindex.scss';

/**
  * @prop --gse-ui-tooltip-border-default
  * @prop --gse-ui-tooltip-background-default
  * @prop --gse-ui-tooltip-border-default
  * @prop --gse-ui-tooltip-foreground-default
  * @prop --gse-ui-tooltip-background-dark
  * @prop --gse-ui-tooltip-background-dark
  * @prop --gse-ui-tooltip-foreground-inverse
  * @prop --gse-body-sm-regular-font-family
  * @prop --gse-body-sm-regular-font-weight
  * @prop --gse-body-sm-regular-line-height
  * @prop --gse-body-sm-regular-font-size
  * @prop --gse-body-sm-regular-letter-spacing
  * @prop --gse-body-sm-regular-paragraph-spacing
  * @prop --gse-body-sm-regular-paragraph-indent
  * @prop --gse-body-sm-regular-text-case
  * @prop --gse-body-sm-regular-text-decoration
  * @prop --gux-zindex-tooltip
  * @prop --gse-elevation-medium-20-x
  * @prop --gse-elevation-medium-20-y
  * @prop --gse-elevation-medium-20-blur
  * @prop --gse-elevation-medium-20-color
  * @prop --gse-elevation-medium-20-type
  */

@import '../../../style/mixins';

:host {
  position: fixed;
  z-index: var(--gux-zindex-tooltip, $gux-zindex-tooltip);
  display: none;
  width: max-content;
  max-width: 250px;
  opacity: 0;
  box-shadow: var(--gse-elevation-medium-20-x) --gse-elevation-medium-20-y
    --gse-elevation-medium-20-blur var(--gse-elevation-medium-20-color);
}

:host(.gux-show) {
  display: block;
  animation-name: fade-in;
  animation-duration: 250ms;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.gux-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  gap: 8px;
  box-sizing: border-box;
  padding: 8px 12px;
  pointer-events: none;
  border: 1px solid var(--gse-ui-tooltip-border-default);
  border-radius: 4px;
  font-family: var(--gse-body-sm-regular-font-family);
  font-weight: var(--gse-body-sm-regular-font-weight);
  line-height: var(--gse-body-sm-regular-line-height);
  font-size: var(--gse-body-sm-regular-font-size);

  ::slotted(gux-icon) {
    width: var(--gse-xs);
    height: var(--gse-xs);
    align-self: center;
  }

  .gux-arrow {
    position: absolute;
    //These dimensions give the arrows the best alignment.
    width: 13px;
    height: 13px;
    border-radius: 4px;
    background: inherit;
  }

  &.gux-light {
    background-color: var(--gse-ui-tooltip-background-default);
    border-color: var(--gse-ui-tooltip-border-default);
    color: var(--gse-ui-tooltip-foreground-default);

    &[data-placement='bottom'],
    &[data-placement='bottom-start'],
    &[data-placement='bottom-end'] {
      .gux-arrow {
        border-top: 1px solid var(--gse-ui-tooltip-border-default);
        border-left: 1px solid var(--gse-ui-tooltip-border-default);
      }
    }

    &[data-placement='top'],
    &[data-placement='top-start'],
    &[data-placement='top-end'] {
      .gux-arrow {
        border-right: 1px solid var(--gse-ui-tooltip-border-default);
        border-bottom: 1px solid var(--gse-ui-tooltip-border-default);
      }
    }

    &[data-placement='left'],
    &[data-placement='left-start'],
    &[data-placement='left-end'] {
      .gux-arrow {
        border-top: 1px solid var(--gse-ui-tooltip-border-default);
        border-right: 1px solid var(--gse-ui-tooltip-border-default);
      }
    }

    &[data-placement='right'],
    &[data-placement='right-start'],
    &[data-placement='right-end'] {
      .gux-arrow {
        border-bottom: 1px solid var(--gse-ui-tooltip-border-default);
        border-left: 1px solid var(--gse-ui-tooltip-border-default);
      }
    }
  }

  &.gux-dark {
    background-color: var(--gse-ui-tooltip-background-dark);
    border-color: var(--gse-ui-tooltip-background-dark);
    color: var(--gse-ui-tooltip-foreground-inverse);

    &[data-placement='bottom'],
    &[data-placement='bottom-start'],
    &[data-placement='bottom-end'] {
      .gux-arrow {
        border-top: 1px solid var(--gse-ui-tooltip-background-dark);
        border-left: 1px solid var(--gse-ui-tooltip-background-dark);
      }
    }

    &[data-placement='top'],
    &[data-placement='top-start'],
    &[data-placement='top-end'] {
      .gux-arrow {
        border-right: 1px solid var(--gse-ui-tooltip-background-dark);
        border-bottom: 1px solid var(--gse-ui-tooltip-background-dark);
      }
    }

    &[data-placement='left'],
    &[data-placement='left-start'],
    &[data-placement='left-end'] {
      .gux-arrow {
        border-top: 1px solid var(--gse-ui-tooltip-background-dark);
        border-right: 1px solid var(--gse-ui-tooltip-background-dark);
      }
    }

    &[data-placement='right'],
    &[data-placement='right-start'],
    &[data-placement='right-end'] {
      .gux-arrow {
        border-bottom: 1px solid var(--gse-ui-tooltip-background-dark);
        border-left: 1px solid var(--gse-ui-tooltip-background-dark);
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
